<h1>
  <%logos.forEach(function(logo){%>
    <img src="api/upload/download?fileName=<%=logo.wzThumb%>" alt="本怡科技">
    <%})%>
  <%indexLogos.forEach(function(indexLogo){%>
    <img di="logo" src="api/upload/download?fileName=<%=indexLogo.wzThumb%>" alt="本怡科技">
    <%})%>
</h1>